@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@media only screen and (min-width: 800px) {
    .row.align-self-center.w-100.main-login {
        margin: 200px;
    }
  }

#root{
    font-family: 'Quicksand';
}
.btn-cu{
    background-color: rgb(0, 178, 0) !important;
    color: white !important;
}
.text-title{
    color: rgb(0, 178, 0) !important;
    font-weight: 700;
}
.link-regi{
    text-decoration: none;
    color: dimgray;
    background-color: rgba(235, 172, 0, 0.329) !important;
    padding: 4px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 3px;
    font-size: 14px;
}
.link-regi:hover{
    color: rgb(0, 178, 0);
}
.text-nav{
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}
.text-nav p{
    transition: all 0.4s;
}
.text-nav:hover{
    color: rgb(0, 178, 0);
    font-weight: bold;
}

.join.m-4.d-flex {
    align-items: baseline;
}
button.btn.btn-custom.write.px-3{
    border:1px solid #00b200;
    color:#00b200;
}
.logo.m-4 {
    align-self: center;
}
p.card-text.text-justify.des{
    text-align: justify;
    margin-top: 10px;
}
.text-sss{
    color: rgb(0, 178, 0);
}
.overlay{
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.4) 70%);  
}
.holder{
    position: relative;
}
.holder .overlay{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.img-inside{
    max-width: 1000px;
    max-height: 500px;

}
.img-holder{
    max-width: 1000px;
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 30px rgba(117, 117, 117, 0.2);

}
h2.title-inside {
    font-weight: bold;
    color: #00B100;
}
p.text-justify {
    text-align: justify;
    line-height: 35px;
    color: rgb(129, 129, 129);
}
.col-md-4.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-md-4.content-text p {
    color: rgb(129, 129, 129);
    line-height: 30px;
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    .col-md-4.content-text {
        margin-top: 40px;
    }
  }
  input::file-selector-button {
    background-color: rgb(0, 178, 0);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.col-md-4.custom-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    border: 2px solid rgb(0, 178, 0);
    border-radius: 12px;
}
label.ml-2 {
    margin-left: 5px;
}